@model PizzaBox.Client.Models.OrderViewModel

<title>Ordering Page</title>
<h2>From Le View</h2>

@* HTML Way *@
<form action="/order" method="POST">
  @Html.AntiForgeryToken()

  <fieldset>
    <legend>Please input your first name: </legend>
    @Html.ValidationMessageFor(m => m.CustomerFirst)
    <label class="form-check-label" for="">First name: </label>
    <input class="form-check-input" type="text" asp-for="CustomerFirst">

    <legend>Please input your last name: </legend>
    @Html.ValidationMessageFor(m => m.CustomerLast)
    <label class="form-check-label" for="">Last Name</label>
    <input class="form-check-input" type="text" asp-for="CustomerLast">

  </fieldset>

  <fieldset>
    <legend>Stores</legend>
    @Html.ValidationMessageFor(m => m.SelectedStore)
    @foreach (var item in Model.Stores)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" value="@item" asp-for="SelectedStore">
      </div>
    }
  </fieldset>


  <fieldset>
    <legend>Crusts</legend>
    @Html.ValidationMessageFor(m => m.SelectedCrust)
    @foreach (var item in Model.Crusts)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" value="@item" asp-for="SelectedCrust">
      </div>
    }
  </fieldset>

  <fieldset>
    <legend>Sizes </legend>
    @Html.ValidationMessageFor(m => m.SelectedSize)
    @foreach (var item in Model.Sizes)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="radio" value="@item" asp-for="SelectedSize">
      </div>
    }
  </fieldset>

  <field>
    <legend>Toppings</legend>
    @Html.ValidationMessageFor(m => m.SelectedToppings)
    @foreach (var item in Model.Toppings)
    {
      <div class="form-check">
        <label class="form-check-label" for="@item">@item</label>
        <input class="form-check-input" type="checkbox" id="@item" name="selectedtoppings" value="@item">
      </div>
    }
  </field>

  <button type="submit" action="">Make Pizza</button>
</form>
